@model IEnumerable<Spotkanie>

@{
    ViewBag.Title = "Index";
}

<h2>Spotkania</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_koniec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_koniec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
