
@{
    ViewBag.Title = "Index";
}

<h3>Panel administratora</h3>


@Html.ActionLink("Role - AspNetRole ", "Index", "AspNetRoles") <br /> 
@Html.ActionLink("Konta użytkowników - AspNetUsers ", "Index", "AspNetUsers") <br /> 
@Html.ActionLink("Użytkownicy", "Index", "Uzytkowniks") <br /> 
@Html.ActionLink("Adresy", "Index", "Adres") <br /> 
@Html.ActionLink("Lista Spotkań", "Index", "Lista_spotkan") <br /> 
@Html.ActionLink("Spotkania", "Index", "Spotkanies") <br /> 
@Html.ActionLink("Spolecznosci", "Index", "Spolecznosc") <br /> 
@Html.ActionLink("Kalendarze użytkowników", "Index", "Trenerzy") <br /> 
@Html.ActionLink("Info o użytkownikach", "Index", "Infoes") <br /> 
